body{
	background-color: #7AC8E1;
	font-size: 110%;
	color: white;
	padding:0;
	

}

header {
  position: relative;
  top:0%;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

